:root {
    --main-color: #c42847;
    --secondary-color: #fbfaf8;
}
html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--main-color);
}
.main {
    height: 100vh;
    color: var(--secondary-color);
    font-size: 18px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container {
}
